<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="select-supplier" th:fragment="copy">
    <div th:if="${category}">
        <form th:attr="action='/' + ${category.name.toLowerCase()} + '?supplier='">
            <label for="sort-supplier">Select Supplier:</label>
            <select name="supplier" id="sort-supplier">
                <option value="0">Select Supplier</option>
                <p th:each="sup : ${suppliers}">
                    <option th:attr="value=${sup.id}" th:text="${sup.name}">Supplier Name</option>
                </p>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>